.input{
    width: 40%;
    height: 30px;
    margin-top: 20px;
}
.btn{
    font-size: 20px;
    margin-left: 17px;
    color: #fff;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 4px;
}